.temp2023 {
    position: relative;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  
  .overlay2023 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .text-arrow-box h2 {
    color: white;
    font-size: 36px;
    margin: 0;
  }
  
  .arrow-box {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
  }
  
  .trofeo-section {
    background-color: #07552f;
    color: white;
    text-align: center;
  }
  
  .trofeo-content {
    font-size: 2.5em;
    background: url('../../assets/pages/new/trofeo.png') no-repeat center center;
    height: 600px;
    
  }

  .one-section {
    background-color: #85974f;
    color: white;
    text-align: center;
  }
  
  .one-content {
    font-size: 2.5em;
    background: url('../../assets/pages/new/1.png') no-repeat center center;
    height: 700px;
    
  }

  .two-section {
    background-color: #078a4a;
    color: white;
    text-align: center;
  }
  
  .two-content {
    font-size: 2.5em;
    background: url('../../assets/pages/new/2.png') no-repeat center center;
    height: 700px;
    
  }

  .tre-section {
    background-color: #07552f;
    color: white;
    text-align: center;
  }
  
  .tre-content {
    font-size: 2.5em;
    background: url('../../assets/pages/new/3.png') no-repeat center center;
    height: 750px;
    
  }

  .four-section {
    background-color: #85974f;
    color: white;
    text-align: center;
  }
  
  .four-content {
    font-size: 2.5em;
    background: url('../../assets/pages/new/4.png') no-repeat center center;
    height: 900px;
    
  }

  .cinc-section {
    background-color: #0d9553;
    color: white;
    text-align: center;
  }
  
  .cinc-content {
    font-size: 2.5em;
    background: url('../../assets/pages/new/5.png') no-repeat center center;
    height: 850px;
    
  }