/* Estilos de la barra de navegación */
.navbar {
    background-color: #004d00;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 10px;
  }
  
  .logo-text {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  .logo-text span:first-child {
    display: block;
    font-size: 0.8em;
  }
  
  .logo-text span:last-child {
    display: block;
    font-size: 1.2em;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
    position: relative;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #575757;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  